@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #09090b; /* zinc-950 */
    --muted: #f4f4f5; /* zinc-100 */
    --muted-foreground: #71717a; /* zinc-500 */
    --border: #e4e4e7; /* zinc-200 */
    --accent: #27272a; /* zinc-800 */
  }

  .dark {
    --background: #09090b; /* zinc-950 */
    --foreground: #fafafa; /* zinc-50 */
    --muted: #27272a; /* zinc-800 */
    --muted-foreground: #a1a1aa; /* zinc-400 */
    --border: #27272a; /* zinc-800 */
    --accent: #fafafa; /* zinc-50 */
  }

  * {
    @apply border-border;
  }
  
  body {
    @apply bg-background text-foreground antialiased selection:bg-zinc-300 selection:text-zinc-900 dark:selection:bg-zinc-700 dark:selection:text-zinc-50;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}